.Root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header-z);
    height: var(--header-height);
    background: #eee;
}

.Line {
    margin: 0 auto;
    max-width: var(--content-max-width);
    height: 100%;
    background: #e5e5e5;
    display: flex;
}

.LineTitle {
    font-weight: 500;
    line-height: var(--header-height);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

.Icon {
    width: var(--header-height);
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
}

.IconClickable {
    cursor: pointer;
}
