.Root {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: var(--page-padding) calc(var(--page-padding) * .5);
}

.Logo {
    width: 74px;
    height: 74px;
}

.Title {
    font-weight: 500;
}

.Form {
    width: 100%;
    max-width: 300px;
}

.Logo + .Title {
    margin-top: 10px;
}

.Logo + .Form,
.Title + .Form {
    margin-top: 40px;
}

.Submit {
    margin-top: 10px;
}

.Pad {
    height: 74px;
}

.More {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--input-height);
    height: var(--input-height);
    padding: 17px;
    opacity: .4;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.More:hover {
    opacity: .8;
}

.More:active {
    opacity: .4;
}
